-e git+https://github.com/aig-upf/gridenvs.git#egg=gridenvs
-e git+https://github.com/bcornelusse/microgridRLsimulator.git#egg=microgridRLsimulator

opencv_python==4.1.0.25
docopt==0.6.2
gym==0.10.9
Keras==2.2.4
numpy==1.15.4
python_dateutil==2.8.0
atari_py
tensorflow
matplotlib==3.1.1
gym-minigrid
pandas
tqdm
